.footer {
  max-width: 880px;
  margin: 60px auto;
  text-align: left;
}

.footer__copyright {
  font-size: 18px;
  font-weight: 400;
  color: #545454;
}

/* (tablet) */

@media (min-width: 585px) and (max-width: 880px) {
  .footer {
    max-width: 700px;
  }
}

/* 320 px (monbile) */

@media (max-width: 584px) {
  .footer {
    max-width: 290px;
  }
  }
